<div class=" mt-5 container">
    <h1 class="ms-5">Login Here</h1>
    <form class="shadow border w-50 p-5 rounded" >
        <div class="mb-3">
            <input type="email" class="form-control" placeholder="Email ID" name="email">
        </div>
        <div class="mb-3">
            <input type="password" class="form-control" placeholder="Password" name="password">
        </div>
        <div class="mb-3">
            <input type="submit" class="btn btn-success me-3" value="Login">
            <span>New User? Click here to <a routerLink="register">Register</a></span>
        </div>
    </form>
</div>

