<div class="border rounded p-5 w-75">
    <h1>Dashboard Component</h1>
    <h1 *ngIf="email">Email:{{email}}</h1>
    <h2 *ngIf="password">Password:{{password}}</h2>
</div>
<div class="container">
    <h1 class="text-center text-primary mt-5">All Users</h1>
    <table class="table mt-5 shadow">
        <thead>
            <tr>
                <th>#</th>
                <th>Username</th>
                <th>Age</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of userDetails;let i=index;">
                <td>{{i+1}}</td>
                <td>{{user.uname}}</td>
                <td>{{user.age}} </td>
            </tr>
        </tbody>
    </table>
</div>
